<!DOCTYPE html>
<html lang="en">
<head>
    {{>headerLink}}
</head>
<body>
  {{>navbar}}

    <!--Header-->

    <center><h1>Error page!!</h1></center>
    <center><h2>{{errorMsg}}</h2></center>
    <center><a href="/"><button>GO back</button></a></center>



{{>footer}}

    
</body>
</html>