<!DOCTYPE html>
<html lang="en">
<head>
    {{>headerLink}}
</head>
<body>
  {{>navbar}}

    <!--Header-->

    <div class="container-fluid main_header">
        <div class="row">
            <div class="col-md-10 col-12 mx-auto">
                <div class="row">
                    <!--Left side div-->
                    <div class="col-md-6 col-12 main_header_left">
                        <p>Welcome to the weather app</p>
                        <h1>Get the latest Weather info of your city</h1>
                        <a href="/weather"><button>Check now</button></a>
                    </div>

                    <!--right side div-->
                    <div class="col-md-6 col-12 main_header_right">
                        
                    </div>



                </div>
            </div>
        </div>
    </div>

    <!--Footer-->

    {{>footer}}
</body>
</html>