<!DOCTYPE html>
<html lang="en">
<head>
    {{>headerLink}}
</head>
<body>
  {{>navbar}}
<!--Header-->
    <div class="container-fluid main_header">
        <div class="row">
            <div class="col-md-10 col-12 mx-auto">
                <div class="main_content">
                    <form class="temp_form">
                        <input type="text" id="cityName" placeholder="Enter your city name" autocomplete="off">
                        <input type="submit" value="Search" id="submitBtn">
                        <br>
                    </form>
                </div>

                <div class="tempInfo">
                    <div class="top_layer">
                        <p id="day">Saturday</p>
                        <p id="today_date">25th FEB</p>
                    </div>
                    <div class="main_layer">
                        <p id="city_name">Get output here</p>
                        <div class="middle_layer data_hide">
                            <p id="temp"><span id="temp_real_val">0</span><sup>o</sup>C</p>
                            <p id="temp_status"><i class="fa fa-cloud" aria-hidden="true"></i></p>
                        </div> 
                    </div>
                </div>
            </div>
        </div>
    </div>
    

    {{>footer}}

    <script src="js/main.js"></script>
    <script>

        
        const getCurretDay=()=>{

                const weekday = ["Sunday","Monday","Tuesday","Wednesday","Thursday","Friday","Saturday"];

                let currentTime=new Date();
                let day=weekday[currentTime.getDay()];

                let dayy=document.getElementById('day');
                dayy.innerText=day;
            }

            const getCurretTime=()=>{
                const weekday = ["Jan","Feb","Mar","Apr","May","Jun","Jul","Aug","Sep","Oct","Nov","Dec"];

                var now=new Date();
                var month=weekday[now.getMonth()];
                var date=now.getDate();
                
                let hours=now.getHours();
                let mins=now.getMinutes();

                let period="AM";

                if(hours>11){
                    period="PM";
                    if(hours>12) hours -= 12; 
                }

                if(mins<10)
                {
                    mins="0"+mins;
                }

                let today_date=document.getElementById('today_date');
                
                let result=`${month} ${date}`;
                today_date.innerText=result;

                //return `${month} ${date} | ${hours}:${mins} ${period}`;

                //console.log(weekday[month] + "/" + date);
                
            }

            getCurretDay();
            getCurretTime();
   </script>
</body>
</html>